*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
}

body.no-scroll {
  position: fixed;
  width: 100vw;
}

.container {
  height: 100vh;
  max-width: 120rem;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.heading-primary {
  font-size: 2.4rem;
  font-weight: 500;
  color: #404040;
  margin-bottom: 3rem;
}

.message {
  padding: 1rem 2rem;
  border-radius: 10px;

  position: absolute;
  top: 0%;
  left: 50%;
  color: #fff;

  transform: translateX(-50%);

  transition-property: top, opacity;
  transition-duration: 0.5s;
}

.message-success {
  background-color: #5bf347;
  top: 3%;
}

.message-error {
  background-color: #ff3b3b;
  top: 3%;
}

.btn {
  display: block;
  background: none;
  cursor: pointer;
}

.btn-send {
  padding: 1rem 2rem;
  color: #868686;
  box-shadow: 0rem 0rem 0.3rem #868686;
  border-radius: 5px;

  transition: all 0.3s;
}

.btn-send:hover {
  box-shadow: 0rem 0rem 0.6rem #868686;
  transform: translateY(-0.1rem);
}

.btn-modal {
  padding: 1rem 2rem;
  background-color: #fa8b35;

  position: absolute;
  top: 3rem;
  right: 3rem;
}
